{% extends 'shop/basic.html' %}

{% block title%} Add Product{% endblock %}
{% block body %}
<div class="container my-3">
    <h3>Add Product</h3>
    <form action="/shop/addproduct/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  {% comment %} <div class="form-group">
    <label for="product_id">product_id</label>
    <input type="text" class="form-control" id="product_id" name='product_id' placeholder="Enter Your product_id">
  </div> {% endcomment %}
  <div class="form-group">
    <label for="product_name">product_name</label>
    <input type="text" class="form-control" id="product_name" name='product_name' placeholder="Enter Your product_name">
  </div>
  <div class="form-group">
    <label for="category">category</label>
    <input type="text" class="form-control" id="category" name='category' placeholder="Enter Your category">
  </div>
      <div class="form-group">
    <label for="subcategory">subcategory</label>
    <input type="text" class="form-control" id="subcategory" name='subcategory' placeholder="Enter Your subcategory">
  </div>
      <div class="form-group">
    <label for="price">price</label>
    <input type="text" class="form-control" id="price" name='price' placeholder="Enter Your price">
  </div>

     <div class="form-group">
    <label for="desc">Enter your contact and address and other info</label>
    <textarea class="form-control" id="desc" name='desc' rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="phone">Whatspp Number</label>
    <input type="number" class="form-control" id="phone" name='phone' placeholder="Enter Your whatspp number">
  </div>
        <div class="form-group">
    <label for="pub_date">pub_date</label>
    <input type="date" class="form-control" id="pub_date" name='pub_date' placeholder="YYYY-MM-DD">
  </div>
  

  <div class="form-group">
    <label for="image">IMAGE</label>
    <input type="file" name="pimage" />
  </div>




        <button type="submit" class="btn btn-success">Submit</button>
</form>



</div>
{% endblock %}
{% block js%}
<script>
{% if thank %}
alert('Product info addedd successfully');

document.location = "/shop/index";
{% endif %}
</script>
{% endblock %}